.galleryGrid {
  /* display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  display: flex;
  justify-content: center;
  gap : 20px;
  align-items: center;
  padding: 10px;
  
}

.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.8s ease forwards;
  opacity: 0;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 300px;
  height: auto;
  display: block;
}

.cardTitle {
  padding: 12px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
